.TextFieldStyle {
    padding: 2em;
    text-align: center;
    left: 20%;
}

.PaperStyle {
    width: 30%;
    height: 300px;
    margin: auto;
    transform: translate(0%, 50%);
    padding-top: 3em;

}

.HorCenter {
    display: flex;
    justify-content: center; 
    align-items: center; 
    width: 100vw; 
}

.VerCenter {
    height: 50%;
    position: absolute;
}

.Selectors {
    right: 10%;
}

.WelcomeText {
    text-align: center;
    font-size: 5em;
    font-weight: 700;
}